=content_for :navbar do
  %li
    =link_to 'Камрады', camrades_path
  %li{:class => 'active'}
    =link_to 'Услуги', services_path
  %li
    =link_to 'Проекты', projects_path

%h1 Услуги

= form_tag services_path, method: :get do
  %p
    = text_field_tag :query, params[:query]
    = button_tag "Искать", name: nil

- @services.each do |service|
  %p
    = link_to service.title, service
    %br
    = Sanitize.clean service.description[0..128]
    = link_to 'Show', service
    = link_to 'Edit', edit_service_path(service)
    = link_to 'Destroy', service, confirm: 'Вы уверены?', method: :delete

= link_to 'New Service', new_service_path
