%fieldset
  = select_tag "project[project_area_ids][#{id}][area_id]",
              options_from_collection_for_select(@areas, "id", "name", ps.area_id),
              {include_blank: true, class: "project_areas"}
  = hidden_field_tag "project[project_area_ids][#{id}][_destroy]", false
  = link_to "Удалить", '#', class: "remove_fields"
  %table{class: 'specializations'}
    %tr
      %td{class: 'specializations1'}
      %td{class: 'specializations2'}
      %td{class: 'specializations3'}
  