= simple_form_for(@project) do |f|
  = f.input :title
  = f.input :description
  = f.input :camrade_count
  = f.input :reserve_count
  = f.input :datetime_start
  = f.input :datetime_end
  = f.association :areas
  = f.button :submit
