=content_for :navbar do
  %li
    =link_to 'Камрады', camrades_path
  %li
    =link_to 'Услуги', services_path
  %li{:class => 'active'}
    =link_to 'Проекты', projects_path

= link_to 'New Project', new_project_path

%h1 Проекты
- @projects.each do |project| 
  %fieldset
    = project.title
    = link_to 'Show', project
    = link_to 'Edit', edit_project_path(project)
    = link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete


