%p{id: "notice"}= notice

=form_for @camrade do |f| 
  .field
    = f.label :first_name, "Имя"
    = f.text_field :first_name
  .field
    = f.label :last_name, "Фамилия"
    = f.text_field :last_name
  .field
    = f.label :middle_name, "Отчество"
    = f.text_field :middle_name
  .field
    = f.label :birth_date, "Дата рождения"
    = f.text_field :birth_date, class: "date_field"
  .field
    = f.label :sex, "Пол"
    = f.select :sex, [["Мужской", true], ["Женский", false]]
  .field
    Контакты
    = f.fields_for :contacts do |builder|
      = render 'contact_fields', f: builder
    = link_to_add_fields "Добавить контакт", f, :contacts
  / .field
  /   = f.label :about, "Обо мне"
  /   = f.text_area :about, class: "input-400"
  = f.submit "Готово"  
  
