%p{id: "notice"}= notice

%p
  ФИО
  %strong= "#{@camrade.last_name} #{@camrade.first_name} #{@camrade.middle_name}"
%p
  Дата рождения
  %strong= @camrade.birth_date
%p
  Пол
  %strong= @camrade.sex ? "Мужской" : "Женский"

- if @resumes
  %h3 Профессиональная деятельность
  - @resumes.each do |resume|
    %fieldset
      %legend= resume.title
      %p
        = resume.description
      %p
        %strong= resume.scope.name if resume.scope
        %br
        - resume.specializations.each do |spec|
          =spec.name
          %br
      =link_to "Удалить резюме", camrade_resume_path(@camrade, resume), confirm: 'Вы уверены?', method: :delete
      =link_to 'Редактировать', edit_camrade_resume_path(@camrade, resume)
      / %strong{style: "text-decoration: underline"} Опыт работы
      /       %br
      / -# resume.experiences.each do |experience| 
      /         %p
      /           %strong Компания
      /           =# experience.company_name
      /           %br
      /           =# "С #{experience.date_start} по #{experience.date_end}"
      /           %br
      /           %strong Описание работы: 
      /           =# experience.description
  =link_to "Добавить резюме", new_camrade_resume_path(@camrade)
= link_to 'Edit', edit_camrade_path(@camrade) 
